body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 400px;
}

.surfheading {
    background-color: #c8d3d9;
}

.price {
font-style:italic;
}

label {
    width:100%;
}


.redtext {
color:aff0000;
}

.form-style {
    width: 25%;
    margin:0 auto;
}

.button-style {
    background-color: #cee3e6;
    font-weight: 700;
    color: #aeaeae;
    border-radius: unset;
    border-width: 1px;
    border-color: #c8d3d9;
    font-family: Calibri;
    font-size: 15px;
}


.figure-img {
    width: 100%; /* Ширина изображений */
    height: auto; /* Высота изображении */
}

.text-input {
    width: 100%; /* Ширина изображений */
}

.tiny-panel{
    margin:20px auto;

}

.add-post-area{
    width:100%;
    max-width:100%;


}

.panel-heading {
    background-color: #c8d3d9;
}